body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.card-body>.card-title {
    font-family: 'Helvetica';
    

}

.card-title {
    font-weight: 500;
    font-size: 1.25rem;
}

.cardStyle {
    background-color: #EAC7C7;
    /* outline: 1px solid black; */
    text-decoration: none;
    color: black;
    /* margin-left: 0; */
}
.hoverEff:hover {
    opacity: 80%;
    /* outline: 1px solid black; */

    /* margin-left: 0; */
}
.cardStyleDark {
    background-color: black;
    text-decoration: none;
    color: black;
    border: 1px solid #EAC7C7;
    border-radius: 0 0 10px 10px;
    /* margin-left: 0; */
}

.cardStyleTitle {
    
    border-radius: 0 0 10px 10px;
    /* margin-left: 0; */
}

.iconColor {
    color:#fefae0;
}

.cardBottomSpace {
    margin-bottom: 10px;
    margin-top: 10px;


}
.cardRecipeStyle {
    background-color: #fefae0;
    /* text-decoration: none; */
    color: black;

}

.selectorStyle {
    background-color: #DDA15E;
    text-decoration: none;
    color: #fefae0;
    border-radius: 12px;
    /* width:1vw; */

}

.formTextStyle {
 
    color: #fefae0;
    vertical-align: middle;


}

.recipeTop {
    background-color: #606c38;
}

.recipeButtonStyle {
    color: #606c38;
    background-color: #606c38;

}

.recipeFormStyle {
    border: 2px solid #fefae0;
    background-color: #a1cebe;
    border-radius: 4px;
    width: 100%;
    max-height: 100%;
    vertical-align: middle;

    color: #fefae0;


}

.serviceCard {
    border: 2px solid #fefae0;
    /* background-color: #a1cebe; */
    border-radius: 4px;
    width: 100%;
    max-height: 100%;
    /* margin: 0; */
    padding:0;
    vertical-align: middle;

    /* color: #fefae0; */


}
h2 {
    font-size: 22vw;
}
h4 {
    font-size: 2vw;
}

.mac {
    color: black;
    font-size: 2vw;
    /* vertical-align: center; */
    margin: auto;
}

.NoDecorationCardText {
    text-decoration: none;
    color:#EAC7C7;

}
.unstyleLink {
    color: #fefae0;
    text-decoration: none;
  }
.inline {
    display: inline-block;
  }
h1 {
    color: #fefae0;
    text-align: center;
    margin:0;
    font-size: 200px;
    width: 100%;
    left: 0;
    right: 0;

}
.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
.button1 {
    background-color: none;
    color: black;
    border: 2px solid black;
  } 
.fontBasic {
    color: #EAC7C7;
}
.modalBack {
    /* background-color: #FFE8D6; */
    background-color: #EAC7C7;

}
.homeBackground {
    /* background-color: #FFE8D6; */
    background-color: black;

}

.homeBackground2 {
    /* background-color: red; */
    background-image: url("../src/app/assets/img/mountain1.jpg");
    height: 100px;
}
.recipeBackground {
    background-color: #fefae0;
}

.card-img-overlay .card-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-image: linear-gradient(#cec8ff, white);
    padding: 20px 0;
    margin-top: 2rem;
}

.navbar-brand {
    max-width: 400px;
    margin-right: 2rem;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
    max-width: 4rem;
}

.navbar-dark {
    background-color: #FFE8D6;
    margin-bottom: 0;
    min-height: 8rem;
}


.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
}